<!DOCTYPE html>
<html lang="es">
<head>

    <!-- meta tags / seo -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Calculator - {{ website.config.title }}</title>

    <!-- css -->
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/all.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/datatables.min.css">
    <link rel="stylesheet" href="{{ website.themeUrl }}/assets/css/main.css">

</head>
<body>
       
    {{ include('partials/header.twig') }}

    <!-- contenido principal -->
    <main class="container-fluid mt-3">

    table

    </main>

    {{ include('partials/footer.twig') }}

    <!-- javascript -->
    <script src="{{ website.themeUrl }}/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/popper.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/datatables.min.js"></script>
    <script src="{{ website.themeUrl }}/assets/js/main.js"></script>

</body>
</html>